<div>
    <div class="title">
        <h2>{{title}}</h2>
        <p>{{{description}}}</p>
    </div>
    <div class="subtext">
        by {{user.username}}
        {{!-- date created --}}
        <a href="/post/{{id}}"></a>
    </div>

</div>