<div class="container">
  <h2>Create New Post</h2>

  {{!-- user input to create blog post --}}
  <form>


  </form>
</div>

{{!-- check if any other posts exist --}}
{{#if posts.length}}
<div>
  <h2>Your posts</h2>

</div>
{{/if}}
